html, body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover{
    text-decoration: underline;


}

 /** possibly just use .row */
.row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex: 1;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 1;
    padding: 10px;
}

.box {
    background: #e3e3e3;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .12);

}

.box2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12),  0 2px 4px 0 rgba(0,0,0,.08);
    width: 475px;
    height: 300px;
    display:flex;
    border-radius: 10px;
    background: linear-gradient(to bottom, #e3e3e3, #ffffff);
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.box2 > :first-child{
    flex: 1;

}

.menu-box{
    box-shadow:0 4px 8px 0 rgba(0,0,0,.12),  0 2px 4px 0 rgba(0,0,0,.08);
    margin-left: auto;
    margin-right: auto;
    width: 475px;
    height: 300px;
    display:flex;
    border-radius: 10px;
    background: linear-gradient(to bottom, #e3e3e3, #ffffff);
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;

}

.event-form-box{
    box-shadow:0 4px 8px 0 rgba(0,0,0,.12),  0 2px 4px 0 rgba(0,0,0,.08);
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 1650px;
    display:flex;
    border-radius: 10px;
    background: linear-gradient(to bottom, #e3e3e3, #ffffff);
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;

}

.event-form-box > label{
    display: flex;
}

.button-event-add{
    margin-top: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    flex:1;
    background: #D5D5D5;
}

.button-event-list{
    width: 200px;
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    flex:1;
    background: #D5D5D5;
}

.submit-event-form-btn{
    margin-top: 100px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.eventtitle{
    margin-bottom: -90px;
    flex: 1;
}
article{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


.container {
    max-width: 1200;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to right, purple, #ffaaaf);
    padding: 50px;
}

header h1{
    margin-top: 0;
    font-size: 1.6em;
}

.header-top{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    padding-bottom: 50px;

}

.header-top a {
    color:inherit;
}

.nav-context{
    display: flex;
    justify-content: center;
}

nav > a {
    padding-left: 20px;
    padding-right: 20px; 
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
}

.form-group{
    margin-top: 100px;

}

.form-group2{
    margin-top: 10px;
    margin-right: 34px;
    margin-bottom: 10px;
}

label{
    margin: 0 auto;
    margin-right: 10px;
    
}

.checkbox{
    margin-bottom: 30px;
    margin-top: 30px;
    align-content: center;
}

article > p{
    margin-top: -220px;
    display: flex;
    flex-direction: column;
    color: black;


}

/*
.form-control > .form-group{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;

}

label{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-content: center;
   
}

.form-group{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    align-content: center;
}

.checkbox{
    padding-left: 175px;
    margin-top: 30px;
    left: 22%;
}

button{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 22%;

    margin: -70px 0 0 -170px;
   
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login-box{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */